<ol class="breadcrumb text-primary">
    <li> <a routerLink="" class="fa fa-home"> 首页 </a></li>
    <li> <a class="fa fa-list"> 菜单设置 </a></li>
</ol>
<br>
<div class="row">
    <div class="col-sm">
        <div class="card rounded-0">
            <div class="card-block">
                <h5 class="card-title">系统菜单</h5>
                <p class="card-text">
                    <template #itemTemplate let-item="item" let-index="index">
                        <i class="{{item.value.ico}}"></i>
                        <span>{{item.value.title}}</span>
                        <label class="fa fa-edit text-primary" (click)="showChangePad(item.value,change)"></label>
                        <s class="fa fa-plus text-success" (click)="showMenuPad(item.value,child)"></s>
                        <b class="fa fa-remove text-danger" (click)="removeMenuItem(index)"></b>
                    </template>
                    <bs-sortable [(ngModel)]="menus" [itemTemplate]="itemTemplate" itemClass="sort-item btn border-0 text-left" itemActiveClass="" placeholderItem=新菜单 placeholderClass="card btn btn-outline-info" wrapperClass=""></bs-sortable>
                </p>
                <hr>
                <p class="text-right">
                    <a class="btn btn-link pointer text-info" (click)="showAddPad(parent)"><i class="fa fa-plus"></i> 添加菜单</a>
                    <a class="btn btn-link pointer text-warning" (click)="resetMenu()"><i class="fa fa-refresh"></i> 还原菜单</a>
                    <a class="btn btn-link pointer text-success" (click)="confirmChange()"><i class="fa fa-check"></i>确认修改</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card rounded-0">
            <div class="card-block">
                <h5 class="card-title">菜单预览</h5>
                <ul class="sort-item btn border-0 text-left" *ngFor="let item of menus">
                    <li>
                        <h6><i class="{{item.ico}}"></i> {{item.title}}</h6>
                        <ul>
                            <li *ngFor="let child of item.child">
                                <h6 class="text-muted"><i class="{{child.ico}}"></i> {{child.title}}</h6>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ng-template #child let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">子菜单管理</h5>
        <button type="button" class="close text-danger" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-sm">
            <!--<div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">菜单名</button>
                </span>
                <input type="text" class="form-control" readonly>
            </div>-->
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="border-0">标题</th>
                            <th class="border-0">图标</th>
                            <th class="border-0">URL</th>
                            <th class="border-0">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of childs">
                            <td>{{item.title}}</td>
                            <td><i class="{{item.ico}}"></i></td>
                            <td><a href="{{item.url}}">{{item.url}}</a></td>
                            <td><button class="btn btn-sm btn-link" (click)="removeMenuItemChild(item)"><i class="fa fa-remove text-danger"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form class="row" (ngSubmit)="addMenuItemChild()" #menuChildForm="ngForm">
                <div class="col-2">
                    <input type="text" name="title" #title="ngModel" [(ngModel)]="menu.title" class="form-control" placeholder="标题" required>
                </div>
                <div class="col-2">
                    <input type="text" name="ico" #ico="ngModel" [(ngModel)]="menu.ico" class="form-control" placeholder="图标" required>
                </div>
                <div class="col-2">
                    <input type="text" name="url" #url="ngModel" [(ngModel)]="menu.url" class="form-control" placeholder="URL" required>
                </div>
                <!--<div class="col-2">
                    <input type="text" name="key" #key="ngModel" [(ngModel)]="menu.key" class="form-control" placeholder="权限" required>
                </div>-->
                <div class="col-2">
                    <button type="text" class="btn btn-success" [disabled]="!menuChildForm.form.valid"><i class="fa fa-plus"></i> 添加子菜单</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="changeMenuItem();c('Close click')">确认修改</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">取消/关闭</button>
    </div>
</ng-template>
<ng-template #parent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">添加菜单</h5>
        <button type="button" class="close text-danger" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-sm">
            <form (ngSubmit)="addMenu();c('Cross click');" #addForm="ngForm">
                <div class="input-group">
                    <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">菜单名</button>
                </span>
                    <input type="text" class="form-control" placeholder="请输入菜单名称" aria-label="请输入菜单名称" #add_title="ngModel" [(ngModel)]="add.title" name="add_title" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">图标类</button>
                </span>
                    <input type="text" class="form-control" placeholder="请输入图标的类名" aria-label="请输入图标的类名" #add_ico="ngModel" [(ngModel)]="add.ico" name="add_ico" required>
                </div>
                <br>
                <div class="text-right">
                    <button class="btn btn-outline-success" type="submit" [disabled]="!addForm.form.valid">确认添加</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #change let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">修改菜单</h5>
        <button type="button" class="close text-danger" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-sm">
            <form (ngSubmit)="changeMenu();c('Cross click');" #changeForm="ngForm">
                <div class="input-group">
                    <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">菜单名</button>
                </span>
                    <input type="text" class="form-control" placeholder="请输入菜单名称" aria-label="请输入菜单名称" #update_title="ngModel" [(ngModel)]="update.title" name="update_title" required>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">图标类</button>
                </span>
                    <input type="text" class="form-control" placeholder="请输入图标的类名" aria-label="请输入图标的类名" #update_icoe="ngModel" [(ngModel)]="update.ico" name="update_ico" required>
                </div>
                <br>
                <div class="text-right">
                    <button class="btn btn-outline-success" [disabled]="!changeForm.form.valid">确认修改</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>