<div class="row pt-5">
    <div class="col-sm ">
        <div class="card card-default">
            <div class="card-block">
                <div class="icon-item text-right">
                    <i class="left-icon card-warning text-center fa fa-paste"></i>
                    <small>Papers</small>
                    <h4 class="text-right">184</h4>
                </div>
                <br>
                <div class="line"></div>
                <p>
                    <small class="text-warning">
                        <i class="fa fa-dropbox"></i> 
                        <span>Look More Papers </span>
                        <i class="fa fa-angle-right"></i>
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm ">
        <div class="card card-default">
            <div class="card-block">
                <div class="icon-item text-right">
                    <i class="left-icon card-success text-center fa fa-coffee"></i>
                    <small>Views</small>
                    <h4 class="text-right">75.521</h4>
                </div>
                <br>
                <div class="line"></div>
                <p>
                    <small class="text-success">
                        <i class="fa fa-bar-chart"></i> 
                        <span>local_offer Google Analytics </span>
                        <i class="fa fa-angle-right"></i>
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm ">
        <div class="card card-default">
            <div class="card-block">
                <div class="icon-item text-right">
                    <i class="left-icon card-danger text-center fa fa-home"></i>
                    <small>Revenue</small>
                    <h4 class="text-right">$3,245</h4>
                </div>
                <br>
                <div class="line"></div>
                <p>
                    <small class="text-danger">
                        <i class="fa fa-calendar"></i> 
                        <span>date_range Last 24 Hours </span>
                        <i class="fa fa-angle-right"></i>
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm ">
        <div class="card card-default">
            <div class="card-block">
                <div class="icon-item text-right">
                    <i class="left-icon card-info text-center fa fa-twitter"></i>
                    <small>Followers</small>
                    <h4 class="text-right">+245</h4>
                </div>
                <br>
                <div class="line"></div>
                <p>
                    <small class="text-info">
                        <i class="fa fa-clock-o"></i> 
                        <span>update Just Updated </span>
                        <i class="fa fa-angle-right"></i>
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm">
        <div class="card">
            <img class="card-img-top" src="/assets/system/card-1.jpg" style="width:100%;" alt="Card image cap">
            <div class="card-block text-center">
                <h4 class="card-title">Beautiful Castle</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="line"></div>
                <br>
                <div class="text-left">
                    <span>$459/night</span>
                    <span class="pull-right text-muted "><i class="fa fa-map-marker"></i> Milan, Italy</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <img class="card-img-top" src="/assets/system/card-2.jpg" style="width:100%;" alt="Card image cap">
            <div class="card-block text-center">
                <h4 class="card-title">Cozy 5 Stars Apartment</h4>
                <p class="card-text">The place is close to Barceloneta Beach and bus stop just 2 min by walk and... </p>
                <div class="line"></div>
                <br>
                <div class="text-left">
                    <span>$899/night</span>
                    <span class="pull-right text-muted "><i class="fa fa-map-marker"></i>  Barcelona, Spain</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <img class="card-img-top" src="/assets/system/card-3.jpg" style="width:100%;" alt="Card image cap">
            <div class="card-block text-center">
                <h4 class="card-title">Office Studio</h4>
                <p class="card-text">The place is close to Metro Station and bus stop just 2 min by walk and near...</p>
                <div class="line"></div>
                <br>
                <div class="text-left">
                    <span>$1.119/night</span>
                    <span class="pull-right text-muted "><i class="fa fa-map-marker"></i>  London, UK</span>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm">
        <div class="bg-white" style="padding:10px 10px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="border-0">ID</th>
                        <th class="border-0">First Name</th>
                        <th class="border-0">Last Name</th>
                        <th class="border-0">Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm">
        <div class="bg-white" style="padding:10px 10px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="border-0">ID</th>
                        <th class="border-0">First Name</th>
                        <th class="border-0">Last Name</th>
                        <th class="border-0">Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>