.menu-bur {
    position: fixed;
    height: 100%;
    width: 280px;
    top: 0px;
    background-image: url('/assets/system/sidebar.jpg');
    user-select: none;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0px 2px 10px black;
}

.menu-bur-small {
    width: 80px;
    transition: all 0.5s ease-out;
}

.menu-bur-small:hover {
    width: 280px;
}

.menu-bur .menu-head {
    line-height: 60px;
    padding: 0px 20px;
    width: 280px;
}

.menu-bur .menu-head i {
    display: inline-block;
    padding: 10px;
    width: 40px;
    margin-right: 18px;
}

.menu-bur .content {
    height: 100%;
    width: 100%;
}

.menu-bur .menu-block {
    padding: 0px 20px;
    line-height: 60px;
    width: 280px;
    cursor: pointer;
}

.menu-bur .menu-block:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-bur .menu-block img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.1);
    margin-right: 8px;
}

.menu-bur .menu-block span {
    margin-left: 10px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-bur .menu-block label {
    margin-left: 10px;
    font-size: 20px;
    display: inline-block;
    width: 30px;
    margin-right: 8px;
}

.menu-bur .menu-block i {
    position: absolute;
    left: 240px;
    line-height: 60px;
}

.menu-bur .menu-block-list {
    width: 280px;
}

.menu-bur .menu-block-list div {
    padding-left: 20px;
    line-height: 50px;
    color: white;
}

.menu-bur .menu-block-list i {
    display: inline-block;
    width: 20px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}

.menu-bur .menu-block-list div:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-bur .menu-block-list span {
    padding-left: 30px;
}

.manager-content {
    width: 100%;
    padding-left: 280px;
    position: absolute;
    top: 0px;
}

.manager-content-small {
    padding-left: 80px;
}

.manager-content .top-menu {
    height: 70px;
    width: 100%;
}

.manager-content .left-tool-button {
    height: 100%;
    width: 300px;
    padding: 10px 0px;
    margin-left: 20px;
}

.manager-content .left-tool-button .circle-button {
    float: left;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    box-shadow: 1px 2px 12px #e4e4e4;
    background-color: white;
}

.manager-content .circle-text {
    float: left;
    line-height: 50px;
    padding-left: 20px;
}

.manager-content .right-tool-bur {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 0px;
}

.manager-content .right-tool-bur .input-list {
    float: left;
    width: 200px;
    height: 100%;
}

.manager-content .right-tool-bur .input-list input {
    height: 50px;
    width: 200px;
    border-style: none;
    border-bottom: 1px solid #cbcbcb;
    background-color: transparent;
    transition: border-bottom 1s ease-out;
}

.manager-content .right-tool-bur .input-list input:focus {
    border-bottom: 1px solid rgba(255, 0, 0, 0.5);
}

.manager-content .right-tool-bur .circle-button {
    float: left;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    box-shadow: 1px 2px 12px #e4e4e4;
    background-color: white;
}

.manager-content .right-tool-bur ul {
    float: left;
    list-style: none;
    padding-top: 10px;
    width: 200px;
    height: 50px;
}

.manager-content .right-tool-bur ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.view-pad {
    /*position: absolute;*/
    /*right: 0;*/
    width: 100%;
    height: 400px;
    padding-left: 20px;
    padding-right: 40px;
    min-width: 900px;
}

.hover-button {
    transition: background-color 1s ease-out, color 1s ease-out;
}

.hover-button:hover {
    background-color: rgba(100, 100, 100, 0.25);
    color: white;
}

.pop-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    right: -200px;
    top: 10px;
    padding: 20px 20px;
    z-index: 10;
    display: none;
    animation: pop-menu 1s ease forwards;
}

.pop-menu-active {
    display: block;
}

.pop-menu a {
    color: white;
}

.hide-menu {
    animation: hide-menu 1s ease forwards;
}

@keyframes pop-menu {
    from {
        right: -200px;
    }
    to {
        right: 10px;
    }
}