<div class="menu-bur" *ngIf="isMenuPadShow">
    <div class="content" [ngStyle]="{'background-color': config.bg_color,'color':config.font_color}">
        <h5 class="menu-head"><i class="{{config.ico}}"></i> {{config.title}}</h5>
        <div class="line"></div>
        <div class="menu-block" (click)="isCollapsed[0]=!isCollapsed[0]">
            <img src="{{admin.thumb?source+admin.thumb:'/assets/system/photo.jpg'}}" />
            <span>{{admin.account}}</span>
            <i class="fa fa-caret-down" [ngClass]="{'icon-up':isCollapsed[0],'icon-down':!isCollapsed[0]}"></i>
        </div>
        <div class="menu-block-list" *ngIf="isCollapsed[0]">
            <a>
                <div><i class="fa  fa-user-md"></i> <span>超级管理员</span></div>
            </a>
            <a href="#">
                <div><i class="fa  fa-info-circle"></i> <span>账户设置</span></div>
            </a>
            <a href="#">
                <div><i class="fa  fa-sign-out"></i> <span>退出登入</span></div>
            </a>
        </div>
        <div class="line"></div>
        <div *ngFor="let menu of menus;index as i">
            <div class="menu-block" (click)="isCollapsed[i+1]=!isCollapsed[i+1]">
                <label class="{{menu.ico}}"></label>
                <span>{{menu.title}} </span>
                <i class="fa fa-caret-down" [ngClass]="{'icon-up':isCollapsed[i+1],'icon-down':!isCollapsed[i+1]}"></i>
            </div>
            <div class="menu-block-list" *ngIf="isCollapsed[i+1]">
                <a routerLink="{{item.url}}" *ngFor="let item of menu.child">
                    <div><i class="{{item.ico}}"></i> <span>{{item.title}}</span></div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="manager-content">
    <div class="top-menu" *ngIf="isMenuPadShow">
        <div class="left-tool-button">
            <div class="circle-button text-center"><i class="fa  fa-navicon"></i></div>
            <h5 class="circle-text"> Dashboard</h5>
        </div>
        <div class="right-tool-bur">
            <div class="input-list"><input type="search" /></div>
            <div class="circle-button text-center"><i class="fa fa-search"></i></div>
            <ul>
                <li class="text-center hover-button"><i class="fa fa-th-list"></i></li>
                <li class="text-center hover-button"><i class="fa fa-bell"></i></li>
                <li class="text-center hover-button" [mdMenuTriggerFor]="appMenu"><i class="fa fa-cog"></i></li>
                <md-menu #appMenu="mdMenu">
                    <button md-menu-item routerLink="menu"><i class="fa fa-list"></i> 菜单设置</button>
                    <button md-menu-item routerLink="permission"><i class="fa fa-lock"></i> 权限管理</button>
                    <button md-menu-item routerLink="admin"><i class="fa fa-users"></i> 用户管理</button>
                </md-menu>
            </ul>
        </div>
    </div>
    <div class="view-pad">
        <router-outlet></router-outlet>
    </div>
</div>