<div class="menu-bur">
    <div class="content bg">
        <h5 class="menu-head"><i class="fa fa-yelp"></i> Angular Manager</h5>
        <div class="line"></div>
        <div class="menu-block" (click)="isCollapsed[0]=!isCollapsed[0]">
            <img src="/assets/system/photo.jpg" />
            <span>Koro Miko </span>
            <i class="fa fa-caret-down" [ngClass]="{'icon-up':isCollapsed[0],'icon-down':!isCollapsed[0]}"></i>
        </div>
        <div class="menu-block-list" *ngIf="isCollapsed[0]">
            <a>
                <div><i class="fa  fa-user-md"></i> <span>My Account</span></div>
            </a>
            <a href="#">
                <div><i class="fa  fa-info-circle"></i> <span>About Me</span></div>
            </a>
            <a href="#">
                <div><i class="fa  fa-sign-out"></i> <span>Sign Out</span></div>
            </a>
        </div>
        <div class="line"></div>
        <div *ngFor="let menu of menus;index as i">
            <div class="menu-block" (click)="isCollapsed[i+1]=!isCollapsed[i+1]">
                <label class="{{menu.ico}}"></label>
                <span>{{menu.title}} </span>
                <i class="fa fa-caret-down" [ngClass]="{'icon-up':isCollapsed[i+1],'icon-down':!isCollapsed[i+1]}"></i>
            </div>
            <div class="menu-block-list" *ngIf="isCollapsed[i+1]">
                <a routerLink="{{item.url}}" *ngFor="let item of menu.child">
                    <div><i class="{{item.ico}}"></i> <span>{{item.title}}</span></div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="manager-content">
    <div class="top-menu">
        <div class="left-tool-button">
            <div class="circle-button text-center"><i class="fa  fa-navicon"></i></div>
            <h5 class="circle-text"> Dashboard</h5>
        </div>
        <div class="right-tool-bur">
            <div class="input-list"><input type="search" /></div>
            <div class="circle-button text-center"><i class="fa fa-search"></i></div>
            <ul>
                <li class="text-center hover-button"><i class="fa fa-th-list"></i></li>
                <li class="text-center hover-button"><i class="fa fa-bell"></i></li>
                <li class="text-center hover-button" placement="left" [ngbPopover]="popContent" #p="ngbPopover"><i class="fa fa-cog"></i></li>
                <ng-template #popContent>
                    <h6><a routerLink="menu" (click)="p.close()">菜单设置</a></h6>
                    <h6><a routerLink="permission" (click)="p.close()">权限管理</a></h6>
                    <h6><a routerLink="admin" (click)="p.close()">用户管理</a></h6>
                </ng-template>
            </ul>
        </div>
    </div>
    <div class="view-pad">
        <router-outlet></router-outlet>
    </div>
</div>