<div class="card rounded-0 d-inline-block">
    <div class="cardiimg-top text-center card-div-img pointer m-1 rounded-0" (click)="file.click()">
        <img src="{{(loopCard.url||loopCard.base64)||'/assets/system/file-open.svg'}}" alt="Card image cap">
    </div>
    <hr>
    <div class="input-group input-group-sm p-2">
        <span class="input-group-addon bg-white" id="sizing-addon2">链接</span>
        <input type="text" class="form-control" (keyup)="loopCard.status=false" placeholder="请输入图片跳转链接" aria-describedby="sizing-addon2">
    </div>
    <div class="text-right pl-2 pr-2 pb-2">
        <span class="badge badge-success pull-left" [hidden]="!loopCard.status">生效</span>
        <span class="badge badge-warning pull-left" [hidden]="loopCard.status">未保存</span>
        <button class="btn btn-info btn-sm" (click)="_onSave()"><i class="fa-fw fa fa-check"></i> 修改</button>
        <button class="btn btn-danger btn-sm" (click)="_onClose()"><i class="fa-fw fa fa-remove"></i> 删除</button>
    </div>
    <input type="file" class="d-none" #file (change)="loopCard.status=false;readFile($event.target.files[0])" />
</div>