<ol class="breadcrumb text-primary rounded-0">
    <li> <a routerLink="" class="fa fa-home"> 首页 </a></li>
    <li> <a class="fa fa-users"> 角色管理 </a></li>
</ol>
<br>
<div class="row">
    <div class="col-sm">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between rounded-0">
                <p class="mb-0"><i class="fa fa-users fa-fw"></i>角色列表</p>
                <p class="mb-0"><i class="fa fa-plus-square text-success pointer" (click)="showAddPad(add)"></i></p>
            </li>
            <li class="list-group-item d-flex justify-content-between rounded-0" *ngFor="let item of roles;index as i">
                <p class="mb-0"><i class="fa-fw">{{i}}.</i> {{item.name}}</p>
                <p class="mb-0">
                    <i class="fa fa-edit fa-fw text-info ml-2 pointer" (click)="showChangePad(update,item)"></i>
                    <i class="fa fa-plus fa-fw text-success ml-2 pointer" (click)="showAddPad(add,item)"></i>
                    <i class="fa fa-remove fa-fw text-danger ml-2 pointer" (click)="deleteRole(item)"></i>
                </p>
            </li>
        </ul>
    </div>
    <div class="col-sm">
        <div class="card rounded-0">
            <div class="card-block">
                <p><i class="fa fa-list fa-fw"></i>角色层次</p>
                <role-for [roles]="roles" [parentid]="0"></role-for>
            </div>
        </div>
    </div>
</div>
<ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">添加角色</h5>
        <button type="button" class="close text-danger" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-sm">
            <form (ngSubmit)="addRole();c('Cross click');" #addForm="ngForm">
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">角色名称</label>
                    <div class="col-10">
                        <input name="add_name" #add_name="ngModel" [(ngModel)]="temp.name" class="form-control" type="text" placeholder="请输入角色名称" id="example-text-input" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">上级角色</label>
                    <div class="col-10">
                        <input type="text" class="form-control" value="{{temp.parent.id==0?'无上级角色':temp.parent.name}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">角色描述</label>
                    <div class="col-10">
                        <textarea class="form-control" name="add_description" #add_description="ngModel" [(ngModel)]="temp.description" value="{{temp.parent.id==0?'无上级角色':temp.parent.name}}" required></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">权限分配</label>
                    <div class="col-10">
                        <ng-template ngFor let-item [ngForOf]="permissionArrays">
                            <div class="row">
                                <div class="col-sm">
                                    <p class="text-primary">{{item.menu_name}}</p>
                                    <ng-template ngFor let-item [ngForOf]="item.permissions">
                                        <md-checkbox class="mr-2" name="checkbox_value" [value]="item.id" (change)="permissionSet($event)" color="warn">{{item.title}}</md-checkbox>
                                    </ng-template>
                                </div>
                            </div>
                            <br>
                        </ng-template>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-outline-success" type="submit" [disabled]="!addForm.form.valid">确认添加</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
<ng-template #update let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">修改角色</h5>
        <button type="button" class="close text-danger" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-sm">
            <form (ngSubmit)="changeRole();c('Cross click');" #addForm="ngForm">
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">角色名称</label>
                    <div class="col-10">
                        <input name="change_name" #change_name="ngModel" [(ngModel)]="temp.name" class="form-control" type="text" placeholder="请输入角色名称" id="example-text-input" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">上级角色</label>
                    <div class="col-10">
                        <select class="custom-select form-control" id="inlineFormCustomSelect" name="change_parentid" #change_parentid="ngModel" [(ngModel)]="temp.parentid" required>
                            <option value="0">无上级角色</option>
                            <option *ngFor="let item of roles" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">角色描述</label>
                    <div class="col-10">
                        <textarea class="form-control" name="change_description" #change_description="ngModel" [(ngModel)]="temp.description" value="{{temp.parent.id==0?'无上级角色':temp.parent.name}}" required></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">权限分配</label>
                    <div class="col-10">
                        <ng-template ngFor let-item [ngForOf]="permissionArrays">
                            <div class="row">
                                <div class="col-sm">
                                    <p class="text-primary">{{item.menu_name}}</p>
                                    <ng-template ngFor let-item [ngForOf]="item.permissions">
                                        <md-checkbox class="mr-2" name="checkbox_value" [checked]="temp.checkbox_value.indexOf(item.id)>=0" [value]="item.id" (change)="permissionSet($event)" color="warn">{{item.title}}</md-checkbox>
                                    </ng-template>
                                </div>
                            </div>
                            <br>
                        </ng-template>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-outline-success" [disabled]="!addForm.form.valid">确认修改</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>